<div>
  <div style="background-color: #001529; color: #fff; padding: 15px; text-align: center;">Fleet Manager</div>

  <div style="padding-left: 20px;">
    <h3>Requirements Implemented:</h3>
    <ul>
      <li>1. Create containers and load them to ships and trucks.</li>
      <li>2. Persist load of ships between service restarts.</li>
      <li>3. Restrict ship load to a max of 4 containers.</li>
      <li>4. Register an unlimited number of ships and make load transfers.</li>
      <li>5. Specify individual capacities per ship.</li>
      <li>6. Manage trucks and their loads.</li>
      <li>7. Restrict offloading from trucks to the last load.</li>
    </ul>
    <h3>Bonus Features:</h3>
      <p>Web-based UI for fleet presentation.</p>
  </div>
  <div style="padding-left: 20px;">
    <h3>Future Work:</h3>
    <p><strong>For the API:</strong></p>
    <ul>
      <li>Add transactions to ensure atomicity.</li>
      <li>Add locking/semaphores to avoid race conditions when managing containers or changing names.</li>
      <li>Utilize in-memory cache (e.g., IMemoryCache for single-container applications; for multi-container, consider using Redis) to cache frequently used responses or responses that are expensive and yet rarely changed.</li>
      <li>Caching can also be performed on the client side for enhanced performance.</li>
    </ul>

    <p><strong>Introduce SignalR:</strong></p>
    <ul>
      <li>Ensure synchronization of all fleet operations throughout all users.</li>
      <li>For example, when one user loads a container to a ship, it should be visible to other users as well.</li>
    </ul>
  </div>
</div>
